@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* CSS Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
body{
    background-color: #fbf8f3;
    width: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* Utility Classes */
.flex{
    display: flex;
    align-items: center;
}
.container{
    width: 80rem;
    /* background-color: #4d13d1; */
    margin: 0 auto;
 
}
.mb{
    margin-bottom: 1rem;
}
 /* CSS Variables */
 :root{
 --primary-color:#4d13d1;
 --heading-color:#212121;
 --green-color:#388e3c;
 --p-color:#4f4f4f;

 }

 /************************************
                Header Section 
  ***************************************/

  /* Header section : navigation */
  .nav-bar{
    justify-content: space-between;
    padding: 2rem;
    width: 70rem;
    margin: 0 auto;
  }

    /* Header section : Nav-links */
   .nav-links>ul>li>a{
    color: var(--heading-color);
    padding-inline: 2rem;
   }

   .nav-links>ul>li>a:hover{
    color: var(--primary-color);
    padding-inline: 2rem;
    transition:0.4s ease-in-out;
   }

    /* Header section : Nav buttons */
    .primary-btn{
        padding: .9rem 2rem;
        border: none;
        color: var(--heading-color);
        font-size: 1rem;
        font-weight: 600;
        background: transparent;
        cursor: pointer; 
    }
    .primary-btn:hover{
        border: .1rem solid var(--heading-color);  
        border-radius: .3rem;
    }

    .secondary-btn{
        padding: .9rem 2rem;
        text-decoration: none !important;
        border: none;
        border-radius: .3rem;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 600;
        background-color: var(--primary-color);
        cursor: pointer; 
    }
    .secondary-btn:hover{
      background: transparent;
      border: .1rem solid var(--heading-color);
      color: var(--heading-color);
    }

    /* Header section : Menu button */
    .menu-btn{
        display: none;
    }

    /******************************************
                Media Query for Header
     *******************************************/

     /* max width 375px : Mobile */
     @media only screen and (max-width: 375px){

        .nav-bar{
            width: 23rem;
        }

        /* Logo */
        .logo>h1{
            font-size: 1.25rem;
        }

        /* Nav links */
        .nav-links>ul{
            display: none;
        }

        /* Nav buttons */
        .nav-btns{
            display: none;
        }

        /* Menu button */
        .menu-btn{
            display: block;
        }
     }

     /* max width 428px : Mobile */
     @media only screen and (min-width:376px) and (max-width: 428px){

        .nav-bar{
            width: 24rem;
        }

        /* Logo */
        .logo>h1{
            font-size: 1.25rem;
        }

        /* Nav links */
        .nav-links>ul{
            display: none;
        }

        /* Nav buttons */
        .nav-btns{
            display: none;
        }

        /* Menu button */
        .menu-btn{
            display: block;
        }
     }

     /* max width 840px : tablet */
     @media only screen and (min-width:430px) and (max-width: 840px){

        .nav-bar{
            width: 40rem;
        }

        /* Logo */
        .logo>h1{
            font-size: 2rem;
        }

        /* Nav links */
        .nav-links>ul{
            display: none;
        }

        /* Nav buttons */
        .nav-btns{
            display: none;
        }

        /* Menu button */
        .menu-btn{
            display: block;
        }
     }

     /************************************
                Hero Section 
  ***************************************/
  .hero-sec{
    justify-content: space-between;
    width: 80rem;
    margin: 0 auto;
  }

  /* Hero  text */
  
  .hero-text>h1{
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero-text>p{
    color: var(--p-color);
    margin-bottom: 2rem;
  }

  .hero-btn>a{
    margin: .5rem;
    text-decoration: underline .1rem ;
    font-weight: bold;
    text-underline-offset: .5rem;
   
  }

  .check-btn{
    margin-top: 2rem;
  }
  .check-btn>p>i{
   margin-right: .5rem;
  }


  /* Hero image */
  .hero-img>img{
    width: 40rem;
  }

   /******************************************
                Media Query for Hero Section
     *******************************************/

     /* max width 375px : Mobile */
     @media only screen and (max-width: 375px){

        .hero-sec{
            flex-wrap: wrap-reverse;
            margin-top: -2rem;
            width: 20rem;
        
        }

        /* Hero text */
        .hero-text>h1{
            font-size: 1.8rem;
            margin-bottom: .3rem;
        }

        .hero-text>p{
            font-size: .9rem;
        }

        .hero-btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20rem;
            margin-top: -1rem;
        }

       .secondary-btn{
       text-align: center;
            width: 20rem;    
        }

        .check-btn{
            margin-top: .5rem;
        }

        .check-btn>p{
            padding: .2rem;
        }

        /* Hero image */
        .hero-img>img{
            width: 20rem;
            background-position: center;
            background-size: cover;
          }
      
     }

     /* max width 428px : Mobile */
     @media only screen and (min-width:376px) and (max-width: 428px){
        .hero-sec{
            flex-wrap: wrap-reverse;
            margin-top: -2rem;
            width: 24rem;
            align-items: center;
        
        }
.hero-text{
    text-align: center;
}
        /* Hero text */
        .hero-text>h1{
            text-align: ;
            font-size: 1.9rem;
            margin-bottom: .3rem;
        }

        .hero-text>p{
            font-size: .9rem;
        }

        .hero-btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 23rem;
            margin-top: -1rem;
        }

       .secondary-btn{
       text-align: center;
            width: 20rem;    
        }

        .check-btn{
            margin-top: .5rem;
        }

        .check-btn>p{
            padding: .2rem;
        }

        /* Hero image */
        .hero-img>img{
            width: 20rem;
            background-position: center;
            background-size: cover;
          }
      
     }

     @media only screen and (min-width:430px) and (max-width: 840px){

        .hero-sec{
         
            margin-top: 1rem;
            width: 40rem;
            align-items: center;
        
        }

        /* Hero text */
        .hero-text>h1{
            font-size: 2rem;
            margin-bottom: .3rem;
        }

        .hero-text>p{
            font-size: 1rem;
        }

        .hero-btn{
            display: flex;
            flex-direction: column;
          text-align: center;
            width: 25rem;
            margin-top: -1rem;
        }
        .check-btn{
            margin-top: .5rem;
        }

        .check-btn>p{
            padding: .2rem;
        }

        /* Hero image */
        .hero-img>img{
            width: 20rem;
            background-position: center;
            background-size: cover;
          }
      
     }

   /******************************************
                feature Section
     *******************************************/
     #features{
        background-color: #ffffff;
    padding-top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
     }

     /* Feature section : feature heading */
     .feature-heading>h3{
        color: var(--primary-color);
        margin-bottom: .5rem;
     }

     .feature-heading>h2{
        margin-bottom: 1rem;
     }

      /* Feature section : card area */
      .card-area{
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      /* Feature section : card area :card */
      .card-area>.card{
        width: 25rem;
      }
      .card-area>.card>img{
        margin-bottom: .5rem;
        width: 2rem;
      }
      .card-area>.card>h3{
        margin-bottom: .5rem;
      }

       /* Feature section : Trial */
       .trial{
        background-color: var(--primary-color);
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: .5rem;
       }

        /* Feature section : Trial : text */
        .trial>.text{
            width: 35rem;
            margin-top: 12%;
            margin-left: 4rem;
            margin-bottom: 10rem;
        }
        .trial>.text>h1{
            color: #ffffff;
            font-size: 2rem;
            margin-bottom: .5rem;
        }
        .trial>.text>p{
            color:aliceblue;
            font-size: 1rem;
            margin-bottom: 2rem;
        }
        .trial>.text>a{
            background-color: #ffffff;
            color: var(--primary-color);
            font-weight:  bold;
            padding: .8rem 1.5rem;
          
        }

           /* Feature section : Trial : image */
           .trial>.feature-img>img{
            width: 38rem;
            height: 30rem;
            position: relative;
            top: 1.5rem;
            right: 2rem;
           }
           

           .portfolio-card{
            width: 25rem;
            border: .1rem solid lightgray;
            padding: 1rem;
            margin-bottom: 3rem;
        
           }
           .portfolio-card>.port-img{
            display: flex;
            gap: 1rem;
           }
           .portfolio-card>.port-img>h3{
            font-size: 1rem;
            color: var(--primary-color);
           }
           .portfolio-card>.port-img>h3>blockquote{
            font-size: .8rem;
            color: var(--p-color);
           }
           .portfolio-card>p{
            font-size: 1rem;
            color: var(--p-color);
            margin-bottom: 1rem;
           }

           .portfolio-card>a{
            color: var(--primary-color);
            font-weight: 700;
            border: .1rem solid black;
            padding: .4rem 7rem;
            margin-top: 1rem;
           }

           /******************************************
                Media Query for Feature Section
     *******************************************/

     /* max width 375px : Mobile */
     @media only screen and (max-width: 428px){
     .feature-heading{
        margin-top: -2rem;
        width: 15rem;
        margin-left: 2rem;
       }

       .card-area{
        margin-top: 0;
       gap: 2rem;
        padding: 2rem;
        width: 24rem;
        text-align: justify;
        
       }
       .trial{
        width: 20rem;
        margin-left: 2rem;
        margin-top: -1rem;
       }

       .trial>.text>h1{
        font-size: 1.5rem;
       }
       .trial>.text>p{
        font-size: 1rem;
       }

       .trial>.feature-img>img {
         width: 16rem;
         top: -5rem;
         left: 2rem;
       }

       .portfolio-card>a{
        margin-left: .4rem;
        text-align: center;
        padding: .3rem 5rem;
       }

     }

     
     /* max width 375px : Tablet */
     @media only screen and (min-width:430px) and (max-width: 840px){
        .feature-heading{
           margin-top: -1rem;
           width: 30rem;
           margin-left: 4rem;
          }
   
          .card-area{
           margin-top: 0;
          gap: 2rem;
           margin-left: 4rem;
           width: 30rem;
           text-align: justify;
           
          }
          .trial{
           width: 40rem;
           margin-left: 2rem;
           margin-top: 1rem;
           margin-bottom: 2rem;
          }
   
          .trial>.text>h1{
           font-size: 2rem;
          }
          .trial>.text>p{
           font-size: 1.25rem;
          }
   
          .trial>.feature-img>img {
            width: 30rem;
            top: -5rem;
            left: 5rem;
          }

          .portfolio-card{
        padding: 1rem;
   
              }

    
          .portfolio-card>p{
         font-size: 1.25rem;
           }
   
          .portfolio-card>a{
           margin-left: 3rem;
           text-align: center;
           padding: .3rem 5rem;
          }

          .portfolio-card>.port-img>h3{
            font-size: 1.5rem;
            color: var(--primary-color);
           }

           .portfolio-card>.port-img>h3>blockquote{
            font-size: 1rem;
       
           }
   
        }


        footer{
            display: flex;
            justify-content: space-between;
            padding: 3rem 0;
            flex-wrap: wrap;
           
          
        }
        footer>h3{
            margin-bottom: 2rem;
        }

        .fiber{
            width: 35rem;
        }
        .links{
            display: flex;
            width: 40rem;
            gap: 4rem;
        }
        .links>ul>li>a{
           color: var(--p-color);
           display: flex;
           gap: 2rem;
           height: 2rem;
        }
       
          /******************************************
                Media Query for Footer Section
     *******************************************/

        @media only screen and (max-width: 428px){
            footer{
flex-wrap: wrap;
flex-direction: column;
gap: 2rem;


            }
            .fiber{
                margin-left: 3rem;
                width: 18rem;
            }

           footer>.links{
                flex-direction: column;
                gap: 1rem;
                margin-left: 3rem;
            }
        }
              /* max width 375px : Tablet */
     @media only screen and (min-width:430px) and (max-width: 840px){
        footer{
            flex-wrap: wrap;
            flex-direction: column;
            gap: 2rem;
            
            
                        }
                        .fiber{
                            margin-left: 3rem;
                            width: 30rem;
                        }
            
                       footer>.links{
                            flex-direction: column;
                            gap: 1rem;
                            margin-left: 3rem;
                        }
                    }